body {
    background: #020887;
    font-family: 'Montserrat', sans-serif;
    color: #ffc2b4;
    margin: auto;
    line-height: 1.6;
    text-align: center;
}

.wrapper {
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
}

a {
    color: #ffc2b4;
    text-decoration: none;
  }

p.i {
    font-style: italic;
}

a:hover {
    color: #fff;
}

li a {
    color:#020887;
}

nav {
    padding: 30px;
    font-weight: 500px;
    float: left;
}

table {
    max-width: 70%;
    margin: auto;
    padding: 20px;
}

.box1 {
    background: #334195;
    margin-top: 20px;
    margin-left: 430px;
    margin-right: 430px;
    margin-bottom: 20px;
    border-radius: 30px;
    padding: 20px;
}

.box2 {
    background: #334195;
    margin-top: 20px;
    margin-left: 450px;
    margin-right: 450px;
    margin-bottom: 20px;
    border-radius: 30px;
    padding: 20px;
}

td {
    padding-top: 10px;
    padding-right: 30px;
    text-align: left;
}

img {
    width: 15%;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
    display: block;
}

ul {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
  }

li {
    display: inline;
    padding: 12px;
}

.h1 {
    font-weight: 700;
}
  
.bold {
    font-weight: 500;
}

.button {
    background-color:#ffc2b4;
    border: none;
    color: #020887;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-top: 20px;
    margin-bottom: 100px;
    cursor: pointer;
    border-radius: 30px;
    font-family: 'Montserrat', sans-serif;
}

.button:hover {
    opacity: 92%;
}

footer {
    background-color: #ffc2b4;
    color: #020887;
    font-size: small;
    width: 100%;
    height: 50px;
    bottom: 0;
    position: fixed;
}

footer p {
    padding: 8px;
}

header {
    height: 80px;
    background-color:#ffc2b4;
    color:#020887;
    width: 100%;
}